.card-horizontal {
  flex: 0 0 auto;
  margin: 20px;
  width: 200px;
  height: 200px;

  cursor: pointer;

  transition: background-color 0.5s ease-out;

  &:hover {
    background-color: #7b1fa2;
  }
}
