<ng-container *ngIf="authorsList.size">
  <h2 class="mt-2 ml-3">Top Artists:</h2>
  <div class="d-flex flex-row align-items-center">
    <button mat-icon-button class="d-none d-md-block" (click)="scroll('left')">
      <mat-icon class="icon-2" aria-label="Slide left">keyboard_arrow_left</mat-icon>
    </button>
    <div #scrollAuthor class="d-flex flex-nowrap scroll-container">
      <mat-card *ngFor="let author of authorsList"
                class="card-horizontal d-flex justify-content-center align-items-center"
                (click)="onAuthorClick(author)">
        <mat-card-header>
          <mat-card-title class="text-center">{{author}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <button mat-icon-button class="d-none d-md-block" (click)="scroll('right')">
      <mat-icon class="icon-2" aria-label="Slide right">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</ng-container>
